@imgPath: '../../images';

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
html, body {
  height: 100%;
  width:auto;
}

body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #fff center;
  color: #000;
  font: 11px sans-serif;
  overflow-y: scroll;
}

#container {
  width: 960px;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
}

::-moz-selection {
  background: #2fb49f;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #2fb49f;
  color: #fff;
  text-shadow: none;
}

address, em {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'ProximaNovaRegular', Arial, sans-serif;
  font-weight: normal;
}

a {
  color: #2fb49f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}


/* IE6 */


*:first-child+html .clearfix {
  zoom: 1;
}


/* IE7 */


/* Image-replacement / Fade Buttons */


.replacement {
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  position: relative;
  text-indent: -9999em;
}

.replacement span {
  background-position: 0 100%;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: opacity 400ms linear;
  -moz-transition: opacity 400ms linear;
  -o-transition: opacity 400ms linear;
  transition: opacity 400ms linear;
}

.transparent {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}


/*******

Icones

*******/


.social i {
  background: url(img_social_networks.png) no-repeat;
  height: 27px;
  margin: 15px auto;
}

i.dribbble {
  background-position: 0px top;
  width: 27px;
}

i.linkedin {
  background-position: -29px top;
  width: 19px;
}

i.facebook {
  background-position: -50px top;
  width: 12px;
}

i.behance {
  background-position: -63px top;
  width: 26px;
}


/*******

Botões

*******/


/*******

Forms

*******/


form {
  display: block;
  margin: 0 auto;
  width: 440px;
  padding-top: 40px;
  position: relative;
}

form div.success {
  border: 1px solid #d1d1d1;
  background: #f5f5f5 url(img_smile.png) center 40px no-repeat;
  padding-top: 60px;
  position: absolute;
  top: 40px;
  width: 360px;
  left: 50%;
  padding-bottom: 50px;
  margin-left: -180px;
  opacity: 0;
  z-index: -1;
}

form div.success h3 {
  font: 18px'ProximaNovaRegular', Arial, sans-serif;
  color: #999;
  margin-top: 50px;
}

form div.success small {
  font: 12px'ProximaNovaRegular', Arial, sans-serif;
  color: #999;
}

form.success fieldset {
  opacity: 0;
  z-index: -1;
}

form.success div.success {
  transition: opacity 400ms;
  position: absolute;
  opacity: 1;
  z-index: 1;
}

input, textarea {
  transition: all 300ms;
  width: 400px;
  padding: 20px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  font: 14px'ProximaNovaRegular', Arial, sans-serif;
  color: #999;
  display: block;
  margin-top: 20px;
  box-shadow: inset 0 1px 0 0 #e1e1e1;
}

input:focus {
  background: #f5f5f5;
}

textarea {
  min-width: 400px;
  max-width: 400px;
  overflow: hidden;
  height: 15px;
}

textarea:focus {
  height: 120px;
  overflow: auto;
  background: #f5f5f5;
}

form .submit {
  background: #2fb49f;
  border-radius: 5px;
  font: 14px'ProximaNovaRegular', Arial, sans-serif;
  color: #fff;
  cursor: pointer;
  display: block;
  width: 400px;
  padding: 21px;
  text-transform: uppercase;
  margin-top: 20px;
  border-bottom: 2px solid #1f917f;
}

form .submit:hover, form .submit:active {
  background: #3bbea9;
  text-decoration: none;
}

form .submit:active {
  border-color: transparent;
  margin-top: 22px;
  margin-bottom: -2px;
}

input.error, textarea.error {
  background: #ffdada;
  border-color: #e9b4b4;
}

.error::-webkit-input-placeholder {
  color: #c38e8e;
}

.errormessage {
  display: block;
  font: 14px'ProximaNovaRegular', Arial, sans-serif;
  color: #999;
  margin-top: 20px;
}


/*******

Nav

*******/


nav {
  position: relative;
  margin-top: 60px;
  width: 960px;
}

nav ul li {
  float: left;
}

nav ul li a {
  box-sizing: border-box;
  border: 1px solid #d1d1d1;
  background: #f5f5f5;
  font: 14px/60px'ProximaNovaRegular', Arial, sans-serif;
  color: #000;
  display: block;
  width: 320px;
  *width: 310px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
  transition: all 300ms ease;
}

nav ul li a:hover {
  background: #ececec;
  color: #656565;
  text-decoration: none;
}

nav ul li a.active {
  color: #2fb49f;
  background: #fcfcfc;
  cursor: default;
}

nav ul li:nth-child(2) a {
  border-left: none;
  border-right: none;
}

#main-home nav {
    /*position: fixed;*/
  position: absolute;
  bottom: 60px;
  left: 0
}


/*************

Main

**************/


.main {
  display: none\0;
  *display: none;
  width: 960px;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  top: -100px;
  z-index: -1;
  height: auto;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  transition: all 600ms ease;
}

.main.active {
  display: block\0;
  *display: block;
  opacity: 1;
  top: 0;
  min-height: 200px;
  height: auto;
  z-index: 1;
}

.main  h2 {
  font-size: 23px;
  color: #2fb49f;
  margin-top: -20px;
}

.main  h1 {
  font-size: 120px;
  font-family: 'HeraBig-Regular', Arial, sans-serif;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-bottom: 20px;
}

.main  address {
  font: normal 12px'ProximaNovaRegular', Arial, sans-serif;
  color: #999;
  display: block;
  clear: both;
  padding-top: 150px;
  padding-bottom: 20px;
}

.main  small {
  display: block;
  font: 12px'ProximaNovaRegular', Arial, sans-serif;
  color: #999;
  -webkit-text-size-adjust: none;
}

.main > small em {
  text-transform: uppercase;
  color: #2fb49f;
}


/*************

Main: Home

**************/


#main-home {
  text-align: center;
  margin-top: 15%;
  min-height: 480px;
}

.main > h1 {
  margin-bottom: 0px;
  line-height: 1.4;
}


/*************

Main: About

**************/


#main-about {
  text-align: center;
}

#main-about  h1 {
  margin-top: 100px;
  font-family: 'HeraBig-Regular', Arial, sans-serif;
  margin-bottom: 0px;
  line-height: 1.4;
}

#main-about  h2 {
  clear: both;
  padding-top: 100px;
}

#main-about ul.about_me {
  width: 300px;
  margin: 0 auto;
  text-align: left;
  padding-top: 40px;
  font-size: 14px;
}

#main-about ul.about_me li {
  line-height: 30px;
}

#main-about article {
  float: left;
  width: 33.3333333%;
  background: url(img_spacer_about.png) no-repeat center 50px;
  padding-top: 5px;
}

#main-about article.box-really-like h1 {
  margin: 0 auto 40px auto;
  font-weight: 100;
  color: #2fb49f;
  font-size: 24px;
  font-family: 'HeraBig-Regular', Arial, sans-serif;
}

#main-about article.box-really-like ul {
  padding-top: 10px;
}

#main-about article.box-really-like ul li {
  font: 18px/38px'ProximaNovaRegular', Arial, sans-serif;
  color: #2fb49f;
}

#main-about article.box-bit-of-me h1 {
  margin: 0 auto 40px auto;
  font-size: 24px;
  color: #999;
  font-family: 'HeraBig-Regular', Arial, sans-serif;
}

#main-about article.box-bit-of-me p {
  font: italic 14px/22px Georgia, serif;
  color: #999;
  display: block;
  padding-top: 15px;
  padding-bottom: 10px;
}

#main-about article.box-mentions h1 {
  margin: 0 auto 40px auto;
  font-size: 24px;
  font-family: 'HeraBig-Regular', Arial, sans-serif;
}

#main-about article.box-mentions dl {
  font: 18px/38px'ProximaNovaRegular', Arial, sans-serif;
  padding-top: 12px;
}

#main-about div.social {
  clear: both;
  margin: 70px 0 50px 120px;
  float: left;
}

#main-about div.social ul li {
  float: left;
}

#main-about div.social ul li a {
  box-sizing: border-box;
  border: 1px solid #d1d1d1;
  background: #f5f5f5;
  font: 14px/60px'ProximaNovaRegular', Arial, sans-serif;
  color: #000;
  display: block;
  width: 180px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
  transition: all 300ms ease;
}

#main-about div.social ul li a:hover {
  background: #ececec;
  color: #656565;
  text-decoration: none;
}

#main-about div.social ul li a.active {
  color: #2fb49f;
  background: #fcfcfc;
  cursor: default;
}

#main-about div.social ul li:nth-child(2) a {
  border-left: none;
}

#main-about div.social ul li:nth-child(3) a {
  border-left: none;
  border-right: none;
}


/*************

Main: Work

**************/


#main-work {
  text-align: center;
}

#main-work > h1 {
  margin-top: 100px;
  font-family: 'HeraBig-Regular', Arial, sans-serif;
  margin-bottom: 0px;
  line-height: 1.4;
}

#main-work h2 {
  padding-top: 100px;
  clear: both;
}

#main-work .works {
  display: block;
  padding-top: 120px;
}

#main-work .works li {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 180px;
}

#main-work .works li.loading {
  background: url(loader_paginas.gif) no-repeat center center;
}

#main-work .works li.loading a {
  opacity: 0;
}

#main-work .works li a {
  overflow: hidden;
  width: 300px;
  height: 180px;
  position: relative;
  display: block;
  border-radius: 5px;
  transition: all 300ms ease;
}

#main-work .works li a:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: -5px;
  border: 5px solid #fff;
  border-radius: 10px;
}

#main-work .works li a img {
  display: block;
  margin-top: -15px;
  width: 300px;
  height: 210px;
  transition: all 300ms ease;
}

#main-work .works li a:hover {
  height: 210px;
  margin-top: -15px;
  text-decoration: none;
}

#main-work .works li a:hover img {
  margin-top: 0px;
}

#main-work .works li a span {
  background: rgba(252, 252, 252, .5);
  position: absolute;
  width: 100%;
  height: 180px;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
    /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
  filter: alpha(opacity=50);
    /* Netscape */
  -moz-opacity: 0.5;
    /* Safari 1.x */
  -khtml-opacity: 0.5;
  transition: all 300ms ease;
}

#main-work .works li a span h2 {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  bottom: -80px;
  left: 15px;
  transition: bottom 300ms ease;
}

#main-work .works li a span h4 {
  color: #999;
  font-size: 12px;
  text-align: left;
  position: absolute;
  bottom: -70px;
  left: 15px;
  transition: 300ms bottom ease;
}

#main-work .works li a:hover span {
  height: 50px;
  bottom: 0;
  top: auto;
  background: rgba(0, 0, 0, .7);
  border-radius: 0 0 5px 5px;
}

#main-work .works li a:hover h2 {
  bottom: 23px;
}

#main-work .works li a:hover h4 {
  transition: 300ms bottom 100ms ease;
  bottom: 10px;
}


/*************

Main: Project

**************/


#main-project {
  width: 100%;
  overflow: hidden;
  opacity: 0;
  z-index: 100;
  height: auto;
}

#main-project {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0;
}

#main-project.active {
  top: 0%;
  opacity: 1;
  padding-top: 60px;
}

#main-project #nav-projects {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: #f5f5f5;
  border-bottom: 1px solid #d1d1d1;
  border-top: 1px solid #d1d1d1;
  z-index: 999999;
  display: none;
}

#main-project.active #nav-projects {
  display: block;
}

#main-project #nav-projects a.back {
  width: 60px;
  height: 60px;
  float: left;
  background: url(img_arrow.png) no-repeat center center;
  transition: all 300ms;
}

#main-project #nav-projects a.back:hover {
  background-color: #ececec;
}

#main-project #nav-projects ul li a {
  float: right;
  white-space: pre;
  border-left: 1px solid #d1d1d1;
  background: #f5f5f5;
  font: 14px/60px'ProximaNovaRegular', Arial, sans-serif;
  color: #000;
  padding: 0 20px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
  transition: background 300ms ease;
}

#main-project #nav-projects ul li a:hover {
  background: #ececec;
  color: #656565;
  text-decoration: none;
}

#main-project #nav-projects h1 {
  font: 14px/60px'ProximaNovaRegular', Arial, sans-serif;
  color: #000;
  float: left;
  color: #2fb49f;
  background: #fcfcfc;
  text-transform: uppercase;
  padding: 0 20px;
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
  overflow: hidden;
  height: 60px;
  white-space: nowrap;
  display: table;
}

#main-project .bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  z-index: -1;
}

#main-project #project-images {
  text-align: center;
}

#main-project #project-images li {
  display: block;
  padding-bottom: 30px;
}

#main-project #project-images li img {
  max-width: 100%;
}


/*************

Main: Contact

**************/


#main-contact {
  text-align: center;
}

#main-contact > h1 {
  margin-top: 100px;
  font-family: 'HeraBig-Regular', Arial, sans-serif;
  margin-bottom: 0px;
  line-height: 1.4;
}

#main-contact > h2 {
  padding-top: 100px;
  clear: both;
  margin-bottom: 40px;
}

#main-contact p {
  margin-top: 40px;
  font-size: 14px;
}

#container .desc {
  margin: 14px;
}

#container .desc small {
  display: block;
  font: 13px'ProximaNovaRegular', Arial, sans-serif;
  color: #999;
  -webkit-text-size-adjust: none;
  text-align: left;
  line-height: 22px;
  width: 432px;
  margin: 0 auto;
}

#main-contact p {
  margin-top: 40px;
  font-size: 14px;
  width: 300px;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 15px;
  padding-left: 0;
}

#container .desc small em {
  text-transform: uppercase;
  color: #2fb49f;
}

#main-contact p span {
  float: left;
}

#main-contact p span img {
  margin-top: -10px;
}


/*************

Responsive: 768

**************/


@media only screen and (max-width: 960px) {


  #container, .main, nav {
    width: 643px;
  }

  nav {
    margin-top: 40px;
  }

  .main > h2 {
    font-size: 20px;
  }

  nav ul li a {
    width: 214px;
  }

  #main-home h2 {
    font-size: 20px;
  }

  #main-about article.box-really-like h1, #main-about article.box-bit-of-me h1, #main-about article.box-mentions h1 {
    font-size: 20px;
  }

  #main-about div.social ul li a {
    width: 120px;
  }

  #main-about div.social {
    clear: both;
    margin: 70px 0 20px 80px;
    float: left;
  }
}


/*************

Responsive: 480

**************/


@media only screen and (max-width: 643px) {


  #container, .main, nav {
    width: 480px;
  }

  nav {
    margin-top: 0px;
  }

  nav ul li a {
    width: 160px;
  }

  #main-home h2 {
    font-size: 18px;
  }

  .main > h1 {
    font-size: 92px;
  }

  .main > h2 {
    font-size: 18px;
  }

  #main-home > h2 {
    width: 360px;
    margin: 0 auto;
  }

  #main-about > h1 {
    margin-top: 80px;
  }

  #main-about article {
    display: block;
    float: none;
  }

  #main-about article.box-really-like {
    margin-bottom: 50px;
  }

  #main-about article.box-bit-of-me {
    margin-bottom: 50px;
  }

  #main-about div.social {
    clear: both;
    margin: 70px 0 20px 100px;
    float: left;
  }

  #main-about div.social ul li a {
    width: 70px;
  }

  #main-about article {
    margin: 0 auto;
    width: 300px;
  }

  #main-work > h1 {
    margin-top: 80px;
  }

  #main-work .works {
    margin: 0 auto;
    padding-top: 70px;
    width: 300px;
  }

  #main-contact h2, #main-work h2, #main-about h2 {
    width: 300px;
    margin: 0 auto;
  }

  #main-contact > h1 {
    background-size: auto;
    margin-top: 80px;
  }

  #main-contact > small {
    margin-top: 60px;
    padding-bottom: 0px !important;
  }

  form {
    width: 100%;
  }

  input, textarea, .submit {
    min-width: 70%;
    max-width: 70%;
    width: 80% !important;
    margin-left: 10%;
  }

  #main-project #nav-projects ul {
    display: none;
  }

  #main-project #nav-projects h1 {
    width: auto !important;
  }

  #main-project .bg {
    background-image: none !important;
    width: 100%;
  }

  #main-project #project-images img {
    max-width: 100%;
  }

  #main-project #project-images {
    padding-top: 10px !important;
  }
}


/*************

Responsive: 320

**************/


@media only screen and (max-width: 479px) {


  #container, .main, nav {
    width: 320px;
  }

  nav ul li a {
    width: 106px;
  }

  nav {
    margin-top: 0px;
  }

  #main-home {
    margin-top: 0;
  }

  #main-home nav {
    position: relative;
    bottom: 0;
    overflow: hidden;
    margin-bottom: 30px;
  }

  #main-home h2 {
    font-size: 18px;
    width: 300px;
    margin: 0 auto;
  }

  #main-contact h2, #main-work h2 {
    width: 280px;
    margin: 0 auto;
  }

  #main-about div.social {
    clear: both;
    margin: 70px 0 20px 20px;
    float: left;
  }

  .main > h1 {
    font-size: 60px;
  }

  #main-contact p span.lite_span {
    float: none;
    display: block;
    padding-top: 30px;
    text-align: left;
  }

  #main-contact p span.lite_span img {
    width: 150px;
    height: 150px;
  }

  #container .desc small {
    margin: 0 auto 12px;
  }
}

.icon_github, .icon_weibo, .icon_slides,.icon_jsfiddle,.icon_bitbucket,.icon_mysites{
  padding-left: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.icon_github {
  background: url('@{imgPath}/github.png') no-repeat left center;
}

.icon_weibo {
  background: url('@{imgPath}/weibo.png') no-repeat left center;
}

.icon_slides {
  background: url('@{imgPath}/slides.png') no-repeat left center;
}
.icon_jsfiddle {
  background: url('@{imgPath}/jsfiddle.png') no-repeat left center;
}
.icon_bitbucket{
  background: url('@{imgPath}/bitbucket.png') no-repeat left center;
}